/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image
{
  width: 80px;
}
header
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color:white;
  height: 80px;
  box-shadow: gray ;
}
/* 0px 1px 3px 0px rgba((0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.6)) */
header >h1
{
  font-weight: 400;
}


.main
{
  padding-top: 190%;
}

.container__slider {
        
  overflow: hidden;
    position: relative;
    max-width: 600px;
    margin: 0 auto 50px; /* Adjust margin-bottom to reduce the gap */
  }

  .slider-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
  }

  .slider__item {
    display: none;
    text-align: center;
  }

  .slider__item-active {
    display: block;
  }

  .slider__item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .container__slider__links {
    text-align: center;
    margin-top: 10px;
  }

  .container__slider__links-small {
    width: 10px;
    height: 10px;
    background: #ccc;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
  }

  .slider__btn-prev {
    left: 10px;
  }

  .slider__btn-next {
    right: 10px;
  }


/* Container for items */
.works-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Auto grid */
  gap: 130px;
  max-width: 1200px;
  padding: 50px;
  padding-top: 50px;
  margin: 0 auto;
}
 
.work-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.image-size
{
  width: 200px;
  height: 300px;
}



